* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f4f6f8;
    color: #2d2d2d;
    line-height: 1.7;
}

header {
    background: #0b2a3a;
    color: #fff;
    padding: 45px 20px;
}

header img {
    max-width: 300px;
    height: auto;
    dislay: block;
    margin: 0 auto 15px;
}


nav {
    background: #102f44;
    padding: 12px 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 18px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1150px;
    margin: auto;
    padding: 50px 20px;
}

.section {
    background: #fff;
    padding: 40px;
    margin-bottom: 30px;
    border-left: 6px solid #0b2a3a;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

.section h2 {
    margin-bottom: 18px;
    color: #0b2a3a;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 6px;
}

input, textarea, button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
}

button {
    background: #0b2a3a;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #081f2b;
    color: #cbd5db;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

